.main-content {
    font-family: 'Courier New', Courier, monospace;
}

main {
    margin-left: 10%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden; 
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    padding: 10px;
    margin-top: 10%;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.menu-item:hover {
    background-color: gray;
}

.menu-link {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 26px;
    padding: 10px;
    white-space: nowrap;
    transition: background-color 0.9s; 
    cursor: default;
}

.menu-link:hover {
    background-color: gray;
}

.sidebar {
    background-color: black;
    width: 4%; 
    overflow-x: hidden;
    transition: width 0.3s; 
    flex-shrink: 0; /* Добавляем flex-shrink: 0; чтобы боковое меню не уменьшалось при уменьшении контента */
}

.sidebar .menu-item {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.sidebar-expanded {
    width: 18%; 
}

.sidebar-expanded .menu-item {
    opacity: 1;
    transform: translateX(0);
}

.rotate-icon {
    transition: transform 0.3s; 
}

.sidebar-expanded .rotate-icon {
    transform: rotate(180deg); 
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%; 
        overflow-x: hidden;
    }

    .menu-item {
        opacity: 1;
        transform: translateX(0);
    }

    .sidebar-expanded .rotate-icon {
        transform: rotate(0deg); 
    }

    .rotate-icon {
        width: 50px; 
        height: 30px;
    }
}

.main-title {
    font-size: 60px;
    white-space: nowrap;
}

.main-content {
    position: relative;
}

.main-title::after {
    content: "";
    display: block;
    position: absolute;
    width: 80%;
    height: 5px; 
    background-color: #ccc; 
    border-radius: 100px;
}

.mc {
   max-width: 80%; 
   font-size: 18px;
}